# Análise exploratória de dados

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
from matplotlib.gridspec import GridSpec
from plotly.offline import iplot, init_notebook_mode
import plotly.express as px
import warnings
warnings.filterwarnings("ignore")

## 1. Coleta de dados

In [8]:
data = pd.read_csv('../data/processed/preprocessing.csv')
data.head()

,Carga Horária,Categoria da Situação,Cor/Raça,Código da Matrícula,Data de Início do Ciclo,Data de Fim Previsto do Ciclo,Faixa Etária,Fator Esforço Curso,Idade,Instituição,Região,Renda Familiar,Sexo,Turno,UF,Unidade de Ensino
0,4560,Concluintes,branca,72082427,07/04/2017,21/12/2019,15 a 19 anos,1.0,18.0,CPII,Região Sudeste,"1,5<RFP<=2,5",Feminino,Matutino,RJ,Campus Tijuca II
1,4560,Concluintes,branca,72082311,07/04/2017,21/12/2019,15 a 19 anos,1.0,18.0,CPII,Região Sudeste,Não declarada,Masculino,Matutino,RJ,Campus Tijuca II
2,4560,Concluintes,branca,72082437,07/04/2017,21/12/2019,15 a 19 anos,1.0,18.0,CPII,Região Sudeste,"RFP>3,5",Feminino,Matutino,RJ,Campus Tijuca II
3,4560,Concluintes,branca,72898296,07/04/2017,21/12/2019,15 a 19 anos,1.0,18.0,CPII,Região Sudeste,Não declarada,Feminino,Matutino,RJ,Campus Tijuca II
4,4560,Concluintes,branca,72082281,07/04/2017,21/12/2019,15 a 19 anos,1.0,18.0,CPII,Região Sudeste,"RFP>3,5",Feminino,Matutino,RJ,Campus Tijuca II

## 2. Descrição dos dados


### 2.1. Dicionário de dados

In [6]:
dicionario = pd.read_csv('../data/external/dicionario.csv', sep=',')
dicionario

,Variável,Significado,Tipo,Subtipo
0,Carga Horária,Carga horária do ciclo de matrícula.,Quantitativa,Discreta
1,Categoria da Situação,"Situações de matrícula: concluintes, em curso ...",Qualitativa,Nominal
2,Cor/Raça,Cor/Raça do aluno.,Qualitativa,Nominal
3,Código da Matrícula,Código da matrícula.,Quantitativa,Discreta
4,Data de Início do Ciclo,Data de início do ciclo de matrícula.,Quantitativa,Discreta
5,Data de Fim Previsto do Ciclo,Data prevista para o final do ciclo de matrícula.,Quantitativa,Discreta
6,Faixa Etária,Agrupamento baseado na idade dos estudantes.,Qualitativa,Ordinal
7,Fator Esforço Curso,Ajusta a contagem de matrículas-equivalentes p...,Quantitativa,Continua
8,Idade,Idade do estudante.,Quantitativa,Discreta
9,Instituição,Sigla da Instituição.,Qualitativa,Nominal
10,Região,Região Geográfica do país onde está instalada ...,Qualitativa,Nominal
11,Renda Familiar,Faixa de renda per capita familiar do aluno.,Qualitativa,Ordinal
12,Sexo,Informa o sexo do estudante.,Qualitativa,Nominal
13,Turno,Período de tempo determinado em que o aluno cu...,Qualitativa,Nominal
14,UF,Unidade da Federação onde está instalada a ins...,Qualitativa,Nominal
15,Unidade de Ensino,Nome da unidade de ensino a qual a matrícula e...,Qualitativa,Nominal]

In [9]:
data.select_dtypes(include='object')

,Categoria da Situação,Cor/Raça,Data de Início do Ciclo,Data de Fim Previsto do Ciclo,Faixa Etária,Instituição,Região,Renda Familiar,Sexo,Turno,UF,Unidade de Ensino
0,Concluintes,branca,07/04/2017,21/12/2019,15 a 19 anos,CPII,Região Sudeste,"1,5<RFP<=2,5",Feminino,Matutino,RJ,Campus Tijuca II
1,Concluintes,branca,07/04/2017,21/12/2019,15 a 19 anos,CPII,Região Sudeste,Não declarada,Masculino,Matutino,RJ,Campus Tijuca II
2,Concluintes,branca,07/04/2017,21/12/2019,15 a 19 anos,CPII,Região Sudeste,"RFP>3,5",Feminino,Matutino,RJ,Campus Tijuca II
3,Concluintes,branca,07/04/2017,21/12/2019,15 a 19 anos,CPII,Região Sudeste,Não declarada,Feminino,Matutino,RJ,Campus Tijuca II
4,Concluintes,branca,07/04/2017,21/12/2019,15 a 19 anos,CPII,Região Sudeste,"RFP>3,5",Feminino,Matutino,RJ,Campus Tijuca II
...,...,...,...,...,...,...,...,...,...,...,...,...
4245,Concluintes,branca,26/02/2018,31/12/2020,15 a 19 anos,UFSM - POLITÉCNICO,Região Sul,Não declarada,Feminino,Matutino,RS,Colégio Politécnico da UFSM
4246,Concluintes,branca,26/02/2018,31/12/2020,15 a 19 anos,UFSM - POLITÉCNICO,Região Sul,Não declarada,Feminino,Matutino,RS,Colégio Politécnico da UFSM
4247,Concluintes,parda,26/02/2018,31/12/2020,15 a 19 anos,UFSM - POLITÉCNICO,Região Sul,Não declarada,Feminino,Matutino,RS,Colégio Politécnico da UFSM
4248,Concluintes,branca,06/02/2018,20/12/2020,15 a 19 anos,UFRPE - CODAI,Região Nordeste,"0<RFP<=0,5",Masculino,Vespertino,PE,Colégio Agrícola Dom Agostinho Ikas da UFRPE
4249,Concluintes,parda,06/11/2018,24/12/2020,15 a 19 anos,UFPI - CTF,Região Nordeste,"0<RFP<=0,5",Masculino,Matutino,PI,Colégio Técnico de Floriano da UFPI

In [10]:
data.select_dtypes(exclude='object')

      Carga Horária  Código da Matrícula  Fator Esforço Curso  Idade
0              4560             72082427                1.000   18.0
1              4560             72082311                1.000   18.0
2              4560             72082437                1.000   18.0
3              4560             72898296                1.000   18.0
4              4560             72082281                1.000   18.0
...             ...                  ...                  ...    ...
4245           3600             84230653                1.067   19.0
4246           3600             84224256                1.067   18.0
4247           3600             84224068                1.067   19.0
4248           2460             84799648                1.067   18.0
4249           2490             87971675                1.067   18.0

[4250 rows x 4 columns]

## 3. Perguntas de partida e hipóteses

## 4. Percepções


## 5. Observação